/* ===== == = === 20em (320px) === = == ===== */
$mobile-width-min: 20em;
/* ===== == = === 20em (375px) === = == ===== */
$iphone-regular-min: 23.4375em;
/* ===== == = === 30em (480px) === = == ===== */
$mobile-width-max: 30em;
/* ===== == = === 37.5em (600px) === = == ===== */
$tablet-width-min: 37.5em;
/* ===== == = === 48em (768px) === = == ===== */
$tablet-width: 48em;
// /* ===== == = === 56.25em (900px) === = == ===== */
// $tablet-width-min-landscape: 56.25em
/* ===== == = === 64em (1024px) === = == ===== */
$desktop-width-min: 64em;

@mixin mobile-min {
  @media (min-width: #{$mobile-width-min}) {
    @content;
  }
}

@mixin iphone-regular-min {
  @media (max-width: #{$iphone-regular-min}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width-min}) {
    @content;
  }
}

@mixin ipad-min {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$desktop-width-min}) {
    @content;
  }
}

@mixin tablet-min {
  @media (min-width: #{$tablet-width-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width-min}) {
    @content;
  }
}

:export {
  mobile: $tablet-width-min;
  tablet: $desktop-width-min;
}
